body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: dodgerblue;
}
.input {
  margin: 10px;
  height: 2em;
  width: 40em;
}
button {
  background-color: black;
  border: none;
  color:  rgb(219, 207, 207);
  height: 2.5em;
  width: 6em;
}